spring:
  application:
    name: api
  jpa:
    # View 렌더링 시점까지 영속성 컨텍스트를 열어두지 않음
    open-in-view: false
    # 실행되는 SQL 출력
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        # 실행되는 SQL 설명 출력
        use_sql_comments: true
    hibernate:
      ddl-auto: create
  jackson:
    deserialization:
      # Primitive 타입(Int, Long)으로 정의된 필드에 JSON 값이 null이 들어오면 MismatchedInputException 발생
      fail-on-null-for-primitives: true
server:
  servlet:
    context-path: /api
  port: 443
  ssl:
    enabled: true
    key-alias: bootsecurity
    key-store-type: PKCS12
logging:
  level:
    # JPA/Hibernate SQL 로깅
    org.hibernate.SQL: DEBUG
    # 파라미터 바인딩 값 출력
    org.hibernate.orm.jdbc.bind: TRACE
    # FeignClient 로깅
    com.tangerine.api.payment.client.toss: DEBUG
toss_payment:
  base_url: http://localhost:8089
  secret_key: dummy_key
cors:
  allowed-origins: http://localhost:3000